<h1>Notes App</h1>
<div class="logout" *ngIf="!checkStorage">
  <button mat-raised-button (click)="logout()" color="primary">Logout</button>
</div>
<div class="container" *ngIf="checkStorage && checkRegisterNavigate">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Login to continue</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form name="userForm">
        <mat-grid-list cols="1" rowHeight="15:1">
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Email"
                [(ngModel)]="user.email"
                name="email"
                required
                type="email"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                matInput
                placeholder="Password"
                type="password"
                [(ngModel)]="user.password"
                name="password"
                required
              />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="actionButtons">
        <button mat-raised-button (click)="submit()" color="primary">
          Login
        </button>
        <button mat-raised-button (click)="registerNewUser()" color="primary">
          Register
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<router-outlet></router-outlet>
